* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;

  background:
    linear-gradient(
      180deg,
      #101114,
      #090a0c
    );

  min-height: 100vh;
}

.calculator-wrapper {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.calculator {
  width: 100%;
  max-width: 390px;
  height: 720px;

  background:
    linear-gradient(
      180deg,
      #1a1d22,
      #13161b
    );

  border-radius: 40px;

  padding: 22px;

  display: flex;
  flex-direction: column;

  gap: 18px;

  box-shadow:
    0 25px 70px rgba(0,0,0,0.65),
    0 0 30px rgba(120,150,255,0.05);
}


.display {
  flex: 1.2;
  
  background:
  linear-gradient(
    180deg,
    #1f2329,
    #181b20
    );
    
    border-radius: 30px;
    position : relative;
    padding: 30px;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    color: #ffffff;
    
    font-size: clamp(2.2rem, 8vw, 3.2rem);
    
    font-weight: 250;
    
    letter-spacing: 1px;
    
    overflow: hidden;
    
    word-break: break-all;
    
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.02);
  }
  .history{
   position : absolute;
   top : 18px;
   left : 18px;
    
  }
  
  .imag{

    width: 30px;
    height : 30px;
  
   
  }

.buttons {
  flex: 3;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: repeat(5, 1fr);

  gap: 14px;
}

.button {
  border: none;

  border-radius: 50%;

  background:
    linear-gradient(
      180deg,
      #343942,
      #2b2f37
    );

  color: #ffffff;

  font-size: clamp(1.2rem, 5vw, 1.5rem);

  font-weight: 400;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:
    transform 0.12s ease,
    filter 0.12s ease;

  box-shadow:
    inset 0 1px 1px rgba(255,255,255,0.03),
    0 8px 18px rgba(0,0,0,0.30);

  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  filter: brightness(1.06);
}

.button:active {
  transform: scale(0.94);
}

.operator {
  background:
    linear-gradient(
      180deg,
      #4f668f,
      #42577b
    );

  color: #f5f7ff;
}

.equal {
  background:
    linear-gradient(
      180deg,
      #b8c7e6,
      #9fb1d6
    );

  color: #111827;

  font-weight: 600;
}

@media (max-width: 500px) {

  .calculator {
    height: 100vh;

    max-width: 100%;

    border-radius: 0;
  }

}




.history button{

    background: transparent;

    border: none;

    padding: 0;

    cursor: pointer;

    outline: none;

    display: flex;

    align-items: center;

    justify-content: center;

}